<main>
  
    <div class="container body-container">
        <div class="row">
  
 <form method="POST" th:action="@{/profile}" enctype="multipart/form-data" >
            <input type="file" name="user" multiple="multiple"/>
            <input type="submit" value="upload" />
</form>
<img alt="${profile.filename}" src="${pageContext.request.contextPath}/image/${user.getphotos}">
            <div id="main" class="col-sm-9">
                <div>
          
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>
                </div>
            </div>
        </div>
    </div>
   
   

</main>
